.caption {
    padding-top: 20px;
    padding-bottom: 50px;
}

.caption p{
    margin: 0px;
}

.author {
    color: blue;
}

.feedPicture {
    width: 600px;
    height: 400px;
    background-color: gray;
}