.shopItems {
    width: 400px;
    max-height: 400px;
    background-color: gray;
    overflow-x: scroll;
}

.shopItemsRow {
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}

.shopItem {
    width: 90px;
    height: 90px;
    background-color: black;
    border-radius: 5px;
}