.FriendsMain {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.FriendsMain h3 {
    font-size: 30px;
    font-weight: 300;
}

.Request {
    display: flex;
    flex-direction: column;
}

.Request p {
    padding: 5px;
}

.RequestUser{
    display: flex;
    flex-direction: row;
}

.RequestUser p {
    margin-bottom: 0px;
}

.requestTitle {
    margin-bottom: 0px;
}

.blueButton {
    color: blue;
    background-color: #fdfaf6;
    border-radius: 10px;
    width: 100px;
}

.blue {
    color: blue;
}

.accept {
    color: blue;
}

.decline {
    color: blue;
}

.answerBox {
    height: 20px;
    width: 130px;
    padding-left: 5px;
    background-color: #fdfaf6;
    border-radius: 3px;
    font-size: 15px;
    font-weight: 250;
    outline: none;
}

.friendForm{
    display: flex;
    flex-direction: row;
}

.friendForm p {
    margin: 0px;
    padding-top: 4px;
    padding-left: 10px;
}