.login {
    padding-left: 50px;
}

.login p {
    margin-bottom: 5px;
}

.loginDescription {
    font-weight: 200;
    padding-bottom: 50px;
}

.answerBox {
    width: 200px;
    height: 30px;
    border-radius: 5px;
}

.loginTitle {
    font-size: 60px;
    font-weight: 150;
}

.loginButton {
    margin-top: 200px;
    background-color: #0C4767;
    color: #fdfaf6;
    width: 250px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}